/* p { 
    color : blue;
} */

/* Attention, malgré la classe .green aussi présente dans le App.css, c'est celle ci qui prend le dessus, vous avez écrasé votre classe green avec la dernière qui est lue */
/* Attention donc au risque d'écraser des classes que vous avez déjà faites*/
.green {
    color : green;
}
