.parent {
    border: 1px solid blue;
    padding: 0.5rem 1rem;
}

.enfant {
    border: 1px solid orange;
    padding: 0.5rem 1rem;

}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
}

.carte {
    display: flex;
    
}